{% extends "base.html" %}
{% load static i18n %}

{% block css %}

    <style>
        .jumbotron{
            height: 100vh;
            background-image: url("{% static 'images/banner2-new.png' %}");
            background-size: cover;
            background-position: top;
            filter: blur(1);
            
        }
    </style>

{% endblock css%}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron mb-0 rounded-0">
    <div class="container">
          <h1 class="display-1 mt-5 text-primary font-weight-bold">Espacesis</h1>
  <p class="lead"></p>
  <hr class="my-4 bg-primary">
  <p class="font-italic text-white display-4">Club des passionnés du code</p>
  {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
    </div>
</div>

<div class="py-2 rounded-0 my-0 alert alert-info" role="alert">
  <div class="container">
      <h5 class="text-center">
        {% comment %} @TODO : creer un compteur des jours !  {% endcomment %}
        Résultat Préselection Softday 9 ( 2019 ) Disponible
        <a class="font-weight-bold" href="{% url 'softday' %}">{% trans 'Ici' %}</a>
    </h5>
  </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container">
                <div class="">
                    <div class="text-center">
                        <a class="h5 border-0 btn btn-primary"><p class="px-5 py-2 text-white font-weight-bold h5">{% trans "A propos d'espacesis" %}</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}