{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="py-2 rounded-0 mt-0 alert alert-info" role="alert">
  <div class="container">
      <h5 class="text-center">
        {% comment %} @TODO : creer un compteur des jours !  {% endcomment %}
        Inscription pour Softday 9 fini bientot !
        <a class="font-weight-bold" href="{% url 'softday' %}">{% trans 'Inscrivez-vous maintenant' %}</a>
    </h5>
  </div>
</div>

<div class="container">

    <div class="card shadow-md">
        <div class="text-center">
            <div class="mx-5 mt-5 mb-2">
                <h2 class="font-weight-bold">{% trans 'Bienvenue au nouveau site d\'Espacesis !' %}</h2>
            </div>
            <br>
            <div class="my-3 mb-5 mx-5">
                <h4 class="lead font-weight-bold">
                    {% trans 'It’s free and open source.' %}
                </h4>

            </div>
        </div>
    </div>
</div>

{% endblock content %}