{% extends "base.html" %}
{% load static i18n %}

{% block css %}

    <style>
        .jumbotron{
            height: 100vh;
            background-image: url("{% static 'images/banner2-new.png' %}");
            background-size: cover;
            background-position: top;
            filter: blur(1);
            
        }
    </style>

{% endblock css%}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron mb-0 rounded-0">
    <div class="container">
          <h1 class="display-1 mt-5 text-primary font-weight-bold">Espacesis</h1>
  <p class="lead"></p>
  <hr class="my-4 bg-primary">
  <p class="font-italic text-white display-4">Club des passionnés du code</p>
  {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
    </div>
</div>

<div class="py-2 rounded-0 my-0 alert alert-info" role="alert">
  <div class="container">
      <h5 class="text-center">
        {% comment %} @TODO : creer un compteur des jours !  {% endcomment %}
        Résultat Préselection Softday 9 ( 2019 ) Disponible
        <a class="font-weight-bold" href="{% url 'softday:softday9' %}">{% trans 'Ici' %}</a>
    </h5>
  </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container">
                <div class="">
                    <div class="text-justify">
                        <a class="h5 border-0 btn btn-primary"><p class="px-5 py-2 text-white font-weight-bold h5">{% trans "A propos d'espacesis" %}</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <div class="text-justify">
                        {% trans "Espacesis 2019 est le plus grand Club universitaire A Lubumbashi. Il est organisé par les etudiants de L'ecole Superieur D'informatique Salama [Esis], c'est un club dedié dans la programmation et la conception des solutions informatque. Les Membres d'espacesis apprend a coder et a travaiiler en groupe sur un projet Informatique ! , It's a place  " %}
                        <!-- The PyConNG 2018 is the largest annual gathering of Python geeks in Nigeria. It is organised by members of the Python Users Nigeria Group, a nonprofit organisation dedicated to advancing the Python community in Nigeria. Python developers get to learn, network and collaborate during the workshops, it’s a place to be! -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid rounded">
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid rounded">
        </div>
    </div>
</div> -->

<div class="">
    <div class="col-lg-12 bg-dark">
        <div class="p-5 container">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="">
                    <img src="{% static 'images/2.png' %}" alt="" width="" height="56" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}