{% extends "base.html" %}

{% block content %}
    <div class="container my-3">
        <center>
            <iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAArg9mJURFg5VkpQVFlCR1A4UjNPQjY5RE1aOVRQRi4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
        </center>
    </div>
{% endblock content %}